.header,
.hero,
.footer {
    background-color: #1F2973;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.container-quote {
    background-color: #E5E7EB;
}